<!DOCTYPE html>
<html>
    <head>
        <title>about me</title> 
        <link rel="stylesheet" type="text/css" media="screen" href="final-project.css" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Arvo|Bangers|Barlow+Condensed|Lobster|Noto+Serif+JP|Pacifico|Sedgwick+Ave&display=swap" rel="stylesheet">
    </head>
    <body class= "mama2"> 
        <h2 class="display-6">about me page!</h2>
        <h4 class= "display-7">a brief explaination about me!!</h4>
        <p class= "woohoo">HI! My name is Ravya and i really like to laugh. i love having fun and enjoying my time being a teenager. 
            My interest is in comedy; i like memes, crack videos, puns, any type of joke and anything that's funny. 
            i laugh to jokes that has ever been told to me because i find everything funny!! i could say comedy is 
            a way of entertaining me when i'm bored and things keeping me alive while i make homework or projects. 
            i wish to share some of the things that made me laugh through this website and hope people could smile 
            and laugh along with me!!</p> 

         <div class="row woohoo">
                    <div class="col-md-2">
                    
                    </div>
                    <div class="col-md-8">
    
            <div style="width:70%;height:0;padding-bottom:63%;position:relative;"><iframe src="https://giphy.com/embed/Ge86XF8AVY1KE" width="100%" height="100%" style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div><p><a href="https://giphy.com/gifs/Ge86XF8AVY1KE">via GIPHY</a></p>
       </div>
                <div class="col-md-2">
                
                </div>
                </div>

    </body>
</html>
