<!DOCTYPE html>
<html>
    <head>
        <title>about me</title> 
    </head>
    <body>
        <h3>about me page</h3>
        <h4>a brief explaination about me!!</h4>
        <p>HI! My name is Ravya and i really like to laugh. i love having fun and enjoying my time being a teenager. 
            My interest is in comedy; i like memes, crack videos, puns, any type of joke and anything that's funny. 
            i laugh to jokes that has ever been told to me because i find everything funny!! i could say comedy is 
            a way of entertaining me when i'm bored and things keeping me alive while i make homework or projects. 
            i wish to share some of the things that made me laugh through this website and hope people could smile 
            and laugh along with me!!</p>
    </body>
</html>
