body {
    background-color: rgb(248, 207, 193)
}

h1 {font-family:'Lobster', cursive;
font-weight: bold; 
font-size: 80px; }
h2 {font-family: 'Pacifico', cursive; 
}

.images-yeet {
    length: 100px;
    width: 100px;
}

p {font-weight: bold}


